extends default

block content
  main
    .profilewrapper
      h2.heading-secondary.ma-bt-md User Account Settings
      .container

        //- WITHOUT API
        //- form.form.form-user-data(action='/alt/submit-user-data' method='POST' enctype='multipart/form-data')

        //- WITH API
        form#formUpdateUser.form__upload
          div: form
            img.form__user-photo(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar/avatar.png'" width="150px" height="150px" style="margin-left: 0px; object-fit: cover;" id="avatarPreview")
            |
            br
            label(for='avatar') Avatar
            input(type="file" accept="image/*" id="avatar" class="file-upload-btn" name="avatar")
            br
            br
            label#labelUsername.form__label(for='name') Username: #{user.username}
            br
            input#inputUsername.form__input(type='text', name='username', value=`${user.username}`, required)
            br
            label#labelEmail.form__label(for='email') Email address: #{user.email}
            br
            input#inputEmail.form__input(type='email', name='email', value=`${user.email}`, required)
            br
            label#labelFirstName.form__label(for='firstName') First Name: #{user.firstName}
            br
            input#inputFirstName.form__input(type='text', name='firstName', value=`${user.firstName}`, required)
            br
            label#labelLastName.form__label(for='lastName') Last Name: #{user.lastName}
            br
            input#inputLastName.form__input(type='text', name='lastName', value=`${user.lastName}`, required)
            br
            input(type="submit", value="Change settings").btn.btn--small.btn--green
      .line &nbsp;
    |
    br
    .profilewrapper(style="position: relative; top: 10px")
      h2.heading-secondary.ma-bt-md Password Settings
      .container
        form#formUpdateUserPassword
          div: form
            label.form__label(for='password-current') Current password
            br
            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='4')
            br
            label.form__label(for='password') New password
            br
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='4')
            br
            label.form__label(for='password-confirm') Confirm password
            br
            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='4')
            br
            input(type="submit", value="Change password")#btnSavePassword
  
  script(src="/javascripts/avatar.js")

