extends default

block content
    h1(style="color: white")= title
    main
        div.dashwrapper
            h2#username Welcome to your Dashboard #{user.username}
            form(id="makeyadda" action='/api/v1/yaddas/dashboard/post' method='POST')
                    input(type="hidden" value=user.username name="username")
                    input(type="hidden" value=user.avatar name="avatar")
                    textarea#yaddatxtarea(type="textarea" name="text" placeholder="What's on Your mind " + user.username + "?" rows="3" class="form-control" maxlength="167")
                    input(type="text" id="tags" name="tags" placeholder="Enter #tags here seperated by spaces")
                    p#charcount
                    div.postbtn
                      input(id="postYadda" type='submit' value='Yadda')

        |
        br
        div.dashwrapper
            |
            br
            each yadda in yaddas
              div.post-container
                div.post-image 
                  img(src="../images/avatar/" + yadda.avatar onerror="this.src='../images/avatar/avatar.png'" width="100px" height="100px")
                div.post-content
                  div.post-head
                    div.post-username
                      if yadda.username != user.username
                        form(action="/userProfile" method="POST" id="yaddaUserNameForm")
                          input(type="hidden" name="yaddaUsername" value=`${yadda.username}` id="yaddaUsername")
                          input(type="submit" value=`${yadda.username}`)
                      else
                        a(href="/profile") #{user.username}
                    div.post-created
                      a(href="" title=`${yadda.created}`) #{moment(yadda.created).fromNow()}
                  div.post-text 
                    p #{yadda.text}
                    div.post-tags 
                      a(href="") #{yadda.tags}
                  div.post-bottom
                    div.show-comments 
                      p(id=`comments${yadda._id}`) 0 comments <!-- placeholder -->
                    div.post-comment
                      p comment <!-- placeholder -->
                    div.post-delete
                      if user.username === yadda.username
                        form(action="/api/v1/yaddas/delYadda" method="POST")
                          input(type="hidden" name="_id" value= yadda._id)
                          button(type="submit") delete
                      else
                          div.post-delete(style="display: none;")

              br  
              each yaddaNotNull in yaddasNotNull
                if yaddaNotNull.reply == yadda._id
                  div.reply-container
                    div.reply-image
                      img(src="../images/avatar/" + yaddaNotNull.avatar onerror="this.src='../images/avatar/avatar.png'" width="80px" height="80px")
                    div.reply-content
                      div.reply-head
                        div.reply-username
                          if yaddaNotNull.username != user.username
                            form(action="/userProfile" method="POST" id="yaddaUserNameForm")
                              input(type="hidden" name="yaddaUsername" value=`${yadda.username}` id="yaddaUsername")
                              input(type="submit" value=`${yaddaNotNull.username}`)
                          else
                            a(href="/profile") #{yaddaNotNull.username}
                        div.reply-created
                          a(href=`/yadda/${yadda._id}` title=`${yadda.created}`) #{moment(yaddaNotNull.created).fromNow()}
                        div.reply-text
                          p #{yaddaNotNull.text} 
                          
              form(id="replyYadda" action="/api/v1/yaddas/replyYadda" method="POST")
                input(type="hidden" value=user.username name="username")
                input(type="hidden" value=user.avatar name="avatar")
                input(type="hidden" value=yadda._id name="reply")
                textarea(id="replytxtarea" type="textarea" name="text" placeholder="What do you think about this " + user.username + "?" rows="3" class="form-control" maxlength="167")
                div.postbtn
                  input(id="postYadda" type='submit' value='Yadda')
      
    script(src="/javascripts/accordion.js")
