extends default

block content
    h1= title
    main
      div.profilewrapper
          div.container
              div.profile-image
                  img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar/avatar.png'" width="150px" height="150px")
                  button.profile-edit-btn Edit
              div.profile
                  div.profile-user-head
                      h2.profile-user-name #{user.username}
                      a(href="/account")
                  div.profile-stats
                      ul
                          li #[span.profile-stat-count 0] posts |
                          li #[span.profile-stat-count 0] followers |
                          li #[span.profile-stat-count 0] following
                  div.profile-bio
                      p #[span #{user.firstName} #{user.lastName}]
          div.theme
            h2#theme Dark Theme
            div.theme-switch-wrapper
              label(class="theme-switch" for="checkbox")
                input(type="checkbox" id="checkbox")
                div.slider.round  
            
      |
      br
      div.profilewrapper
          |
          br
          each yadda in yaddas  
            div.post-container
                div.post-image 
                  img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar/avatar.png'" width="100px" height="100px")
                div.post-content
                  div.post-head
                    div.post-username
                      if yadda.username != user.username
                        a(href="/userProfile") #{yadda.username}
                      else
                        a(href="/profile") #{user.username}
                    div.post-created
                      a(href=`/yadda/${yadda._id}` title=`${yadda.created}`) #{moment(yadda.created).fromNow()}
                  div.post-text 
                    p #{yadda.text}
                    div.post-tags 
                      a(href="") #{yadda.tags}
                  div.post-bottom
                    div.show-comments 
                      p 0 comments <!-- placeholder -->
                    div.post-comment
                      p comment <!-- placeholder -->
                    div.post-delete
                      if user.username === yadda.username
                        form(action="/api/v1/yaddas/delYadda" method="POST")
                          input(type="hidden" name="_id" value= yadda._id)
                          button(type="submit") delete
                      else
                        div.post-delete(style="display: none;")