extends default

block content
    //- div.errors
    //-     if errors != undefined && errors.length != 0
    //-         each error in errors
    //-             div(role='alert' id='a1') #{error.msg}
    //-     if success_msg != ''
    //-         div(role='alert' id='a2') #{success_msg}
    //-     if error_msg != ''
    //-         div(role='alert' id='a3') #{error_msg}
    //-     if error != ''
    //-         div(role='alert' id='a4') #{error}
    h1(style="color: white") #{title}
    main
        br
        br
        br
        div.wrapper
            h2 Sign In:
            //- form(id='formSignIn' action='/api/v1/users/signIn' method='POST')
            form(id='formSignIn')
                tr
                    td Email:
                    td
                        input(id='email' type='email' name='email' placeholder='mail@gmail.com' required)
                tr
                    td Password:
                    td
                        input(id='password' type='password' name='password' minlength='4' placeholder='password' required)
                tr
                    td
                    td
                        input(id='submit' type='submit' value='Login')
            p.bot No account? | &nbsp;
                a.link(href='/signUp') Register here
            br
            p.bot Forgot your password? | &nbsp;
                a.link(href='#') Reset Password Here
            br
            p.bot Didn't Confirmation your Email in time? | &nbsp;
                a.link(href='#') Send new Confirmation Email
        | 
        br
        br
        br
        br
        br



    //- main.main
    //-     .login-form
    //-         h2.heading-secondary.ma-bt-lg Log into your account
    //-         form.form.form--login
    //-             .form__group
    //-             label.form__label(for='email') Email address
    //-             input#email.form__input(type='email', placeholder='you@example.com', required)
    //-         .form__group.ma-bt-md
    //-             label.form__label(for='password') Password
    //-             input#password.form__input(type='password', placeholder='••••', required, minlength='4')
    //-         .form__group
    //-             button.btn.btn--green Login

    //- script(src='/javascripts/signIn.js')