extends default

block content
  main
    div.profilewrapper
      div.container
        div.profile-image
          h3.profile-user-role #{userData[0].role}
          img(src="../images/avatar/" + userData[0].avatar onerror="this.src='../images/avatar/avatar.png'" width="150px" height="150px")
          //- button.follow-btn Follow ? Unfollow

          form(action="/api/v1/users/followUser" method="POST" id="followForm")
            input(type="hidden" name="thisUser" value=`${userData[0].username}` id="thisUser")
            input(type="hidden" name="currentUser" value=`${user.id}` id="currentUser")
            input(type="hidden" value=user.following class="userFollowingArray")
            input(type="submit" value='Follow' id="followBtn")


        div.profile
          div.profile-user-head
            h2.profile-user-name #{userData[0].username}
          div.profile-stats
            ul
              li #[span.profile-stat-count #{yaddas.length}] yaddas |
                  
              div#profile-followers
                li #[span.profile-stat-count #{followers.length}] followers |
                li #[span.profile-stat-count #{userData[0].following.length}] following
          
          div.modal-content
            div#profile-followers-modal
              h3: strong Followers:
                each user in followers
                  p #[span.followMe #{user.username}]
              h3: strong Following:
                - var j = userData[0].following.length
                - for (var i = 0; i < j; ++i) {
                  p #[span.followMe #{userData[0].following[i]}]
                - }

    |
    br
    div.profilewrapper
      |
      br
      each yadda in yaddas  
        div.post-container
          div.post-image 
            h3.profile-user-role #{userData[0].role}
            img(src="../images/avatar/" + yadda.avatar onerror="this.src='../images/avatar/avatar.png'" width="100px" height="100px")
          div.post-content
            div.post-head
              div.post-username
                if yadda.username != user.username
                  form(action="/userProfile" method="POST")
                    input(type="hidden" name="yaddaUsername" value=`${yadda.username}`)
                    input(type="submit" value=`${yadda.username}`)
                else
                  a(href="/profile") #{user.username}
              div.post-created
                a(href=`/yadda/${yadda._id}` title=`${yadda.created}`) #{moment(yadda.created).fromNow()}
            div.post-text 
              p #{yadda.text}
              div.post-tags 
                a(href="") #{yadda.tags}
            div.post-bottom
              div.show-comments 
                p 0 comments <!-- placeholder -->
              div.post-comment
                p comment <!-- placeholder -->

  script(src="/javascripts/followUserButton.js")
  script(src='/javascripts/modal-init.js')
  script(src='/javascripts/modal-window.js')
